.App-header {
  text-align: center;
  height: 150px;
  padding: 20px; }

.App-intro {
  font-size: large; }

.tile {
  height: 12rem;
  width: 12rem;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 11px;
  text-align: left; }
  .tile h4 {
    text-align: center; }

.tile:hover .deleteButton {
  visibility: visible; }

.newIdeaButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px; }

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top: 10px;
  width: 140px;
  font-size: 11px; }
  .input focus {
    border: solid 1px lightgrey; }

textarea {
  resize: none;
  height: 90px;
  font-size: 11px; }

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red; }
